<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col s0 m4 l3 menu_lateral">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <app-options-adm></app-options-adm>
      </div>

      <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div class="collection backgroud z-depth-4">
          <!-- Formulário -->
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12 m6 l6 white-text">
                  <select id="marca" materialize="material_select">
                    <!--Organiza a seleçao criando uma opção para cada marca reistrada no banco de dados, sendop que esta marca é retornada como uma string-->
                    <option value="" disabled selected>Escolha uma marca</option>
                    <option ngFor="let marca of marcas" value="{{marca}}">{{marca}}</option>
                  </select>
                  <label class="white-text">Marca</label>
                </div>
                <div class="input-field col s12 m6 l6 white-text">
                  <select id="modelo" materialize="material_select">
                    <!--Organiza a seleçao criando uma opção para cada modelo reistrada no banco de dados, sendop que este modelo é retornado como uma string-->
                    <option value="" disabled selected>Escolha um modelo</option>
                    <option ngFor="let modelo of modelos" value="{{modelo}}">{{modelo}}</option>
                  </select>
                  <label class="white-text">Marca</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m12 l12">
                  <input id="tamanho" type="text" class="validate">
                  <label class="white-text" for="tamanho">Tamanho</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m4 l4">
                  <input id="max" type="number" class="validate">
                  <label class="white-text" for="max">Máximo</label>
                </div>
                <div class="input-field col s12 m4 l4">
                  <input id="min" type="number" class="validate">
                  <label class="white-text" for="min">Mínimo</label> </div>
                <div class="input-field col s12 m4 l4">
                  <input id="tam" type="text" class="validate">
                  <label class="white-text" for="tam">Tamanho</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m12 l12">
                  <input id="quantidade" type="number" class="validate">
                  <label class="white-text" for="quantidade">Quantidade</label>
                </div>
              </div>
              <div class="row">
                <div class="col s3 offset-s7 m3 offset-m7 l3 offset-l9">
                  <a onclick="Materialize.toast('Produto foi modificado!', 4000, 'rouded')" class="btn waves-effect waves-light blue darken-4">Salvar
                      <i class="material-icons right">send</i>
                    </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
