
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col m4 l3 menu_lateral hide-on-small-and-down">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <options [isAdmin]="isAdmin"></options>
      </div>

      <div class="col s12 m8 l9" style="padding-top: 8px">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div >
          <!-- Formulário -->
          <div class="row">
            <form (ngSubmit)="cadastrarProduto()" class="col s12">
              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <input id="marca" type="text" required class="validate black-text" [(ngModel)]="produto.marca" name="marca">
                  <label class="black-text" for="marca">Marca</label>
                </div>
                <div class="input-field col s12 m6 l6 black-text">
                  <input id="modelo" type="text" class="validate  black-text" required [(ngModel)]="produto.modelo" name="modelo">
                  <label class="black-text" for="modelo">Modelo</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l6  black-text ">
                  <select materialize="material_select" [(ngModel)]="produto.tamanho" [ngModelOptions]="{standalone: true}" required>
                      <option value="" disabled selected>Tamanho</option>
                      <option value="PP">PP</option>
                      <option value="P">P</option>
                      <option value="M">M</option>
                      <option value="G">G</option>
                      <option value="GG">GG</option>
                      <option value="XG">XG</option>
                      <option value="XGG">XGG</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="36">36</option>
                      <option value="37">37</option>
                      <option value="38">38</option>
                      <option value="39">39</option>
                      <option value="40">40</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="43">43</option>
                      <option value="44">44</option>
                      <option value="46">46</option>
                    </select>
                  <label class="black-text">Tamanho</label>
                </div>
                <div class="input-field col s12 m6 l3">
                  <input #compra id="compra" type="number" min="0" step="0.01" required class="validate" [(ngModel)]="produto.precoEntrada" name="precoEntrada">
                  <label class="black-text" for="compra">Preço de Compra</label>
                </div>
                <div class="input-field col s12 m6 l3">
                  <input id="venda" type="number" [min]="compra.value" step="0.01" required class="validate" [(ngModel)]="produto.precoSaidaPadrao" name="precoSaidaPadrao">
                  <label class="black-text" for="venda">Preço de Venda</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m4 l4">
                  <input #min id="min" type="number" min="0" required class="validate" [(ngModel)]="produto.minimo" name="minimo">
                  <label class="black-text" for="min">Mínimo</label>
                </div>
                <div class="input-field col s12 m4 l4">
                  <input id="max" type="number" [min]="min.value" required  title="Maior que o mínimo." class="validate" [(ngModel)]="produto.maximo" name="maximo">
                  <label class="black-text" for="max">Máximo</label>
                </div>
                <div class="input-field col s12 m4 l4">
                  <input id="quantidade" type="number" min="0" required class="validate" [(ngModel)]="produto.quantidade" name="quantidade">
                  <label class="black-text" for="quantidade">Quantidade</label>
                </div>
              </div>
              <div class="row">
                <div class="right">
                  <button type="submit" name="submit" class="btn waves-effect waves-light blue darken-4"> Cadastrar <i class="material-icons right">send</i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
