<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col m4 l3 menu_lateral hide-on-small-and-down">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <options [isAdmin]="isAdmin"></options>
      </div>

      <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div class="collection backgroud z-depth-4">
          <!-- Formulário -->
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12 m6 l6 white-text">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="first_name" type="text" class="validate white-text" [(ngModel)]="usuario.nome" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="first_name">Nome</label>
                </div>
                <div class="input-field col s12 m6 l6 white-text">
                  <input id="email" type="text" class="validate  white-text"  [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m4 l4">
                  <input id="max" type="text" class="validate" [(ngModel)]="usuario.login" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="max">Login</label>
                </div>
                <div class="input-field col s12 m4 l4">
                  <input id="senha" type="password" class="validate" [(ngModel)]="usuario.senha" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="senha">Senha</label>
                </div>
                <div class="input-field col s12 m4 l4">
                  <input id="rep-senha" type="password" class="validate" [(ngModel)]="confirmacaoSenha" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="rep-senha">Repetir senha</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l4">
                  <input id="dataAdmissao" type="text" class="validate" [(ngModel)]="usuario.dataAdmissao" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="dataAdmissao">Data de Admissão</label>
                </div>
                <div class="input-field col s12 m6 l6">
                  <input id="tel" type="number" class="validate" [(ngModel)]="usuario.telefone" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="tel">Telefone</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4 m4 l4 white-text">
                  <select materialize="material_select" [(ngModel)]="privilegio" [ngModelOptions]="{standalone: true}">
                    <option value="false" disabled selected>Privilégio</option>
                    <option value="true">Administrador</option>
                    <option value="false">Vendedor</option>
                  </select>
                  <label class="white-text">Privilégio</label>
                </div>
                <div class="col s3 offset-s7 m3 offset-m7 l3 offset-l9">
                  <a (click)="cadastrarUsuario()" class="btn waves-effect waves-light blue darken-4">Cadastrar
                      <i class="material-icons right">send</i>
                    </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
