<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col m4 l3 menu_lateral hide-on-small-and-down">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <options [isAdmin]="isAdmin"></options>
      </div>

      <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div class="collection backgroud z-depth-4">
          <!-- Formulário -->
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12 m12 l12 white-text">

                  <input #searchBox id="search" type="text" class="validate" (focus)="onKeyup(searchBox.value)" (keyup)="onKeyup(searchBox.value)" [(ngModel)]="marca" [ngModelOptions]="{standalone: true}" />
                  <label class="white-text" for="search">Produto</label>

                  <a *ngFor="let produto of filtrados" (click)="abrir(produto)" (blur)="lostFocus()" class="collection-item">Marca: {{produto.marca}} Modelo: {{produto.modelo}} Tamanho: {{produto.tamanho}} Valor: {{produto.precoSaidaPadrao}}</a>

                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <input placeholder="" id="marca" type="text" class="validate" [(ngModel)]="produto.marca" [ngModelOptions]="{standalone: true}" />
                  <label class="white-text" for="marca">Marca</label>
                </div>
                <div class="input-field col s12 m6 l6">
                  <input placeholder="" id="modelo" type="text" class="validate" [(ngModel)]="produto.modelo" [ngModelOptions]="{standalone: true}"/>
                  <label class="white-text" for="modelo">Modelo</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 m6 l4">
                  <input placeholder="" id="tamanho" type="text" class="validate" [(ngModel)]="produto.tamanho" [ngModelOptions]="{standalone: true}"/>
                  <label class="white-text" for="tamanho">Tamanho</label>
                </div>
                <div class="input-field col s12 m6 l4">
                  <input placeholder="" id="precoEntrada" type="number" class="validate" [(ngModel)]="produto.precoEntrada" [ngModelOptions]="{standalone: true}"/>
                  <label class="white-text" for="precoEntrada">Preço de Compra</label>
                </div>
                <div class="input-field col s12 m12 l4">
                  <input id="quantidade" type="number" class="validate" [(ngModel)]="quantidade" [ngModelOptions]="{standalone: true}"/>
                  <label class="white-text" for="quantidade">Quantidade adicionada</label>
                </div>
              </div>
              <div class="row">
                <div class="right">
                  <a (click)="adicionar()" class="btn waves-effect waves-light blue darken-4">Adicionar
                      <i class="material-icons right">add</i>
                    </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
