<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col s0 m4 l3 menu_lateral">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <app-options-adm></app-options-adm>
      </div>

      <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div class="collection backgroud z-depth-4">
          <!-- Formulário -->
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12 m6 l6 white-text">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="name" type="text" class="validate white-text"  [(ngModel)]="cliente.nome" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="first_name">Nome Completo</label>
                </div>
                <div class="input-field col s12 m6 l6 white-text">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="cpf" type="number" class="validate white-text"  [(ngModel)]="cliente.cpf" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="cpf">CPF</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l6 white-text">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="telefone" type="number" class="validate white-text"  [(ngModel)]="cliente.telefone" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="telefone">Telefone</label>
                </div>
                <div class="input-field col s12 m6 l6 white-text">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="endereco" type="text" class="validate white-text"  [(ngModel)]="cliente.endereco" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="endereco">Endereço</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m12 l12">
                  <input id="divida" type="number" class="validate"  [(ngModel)]="cliente.valor" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="divida">Valor</label>
                </div>
              </div>
              <div class="row">
                <div class="col s6 offset-s4 m6 offset-m4 l6 offset-l6">
                  <a (click)="adicionar()" class="btn waves-effect waves-light blue darken-4">Adicionar
                      <i class="material-icons right">send</i>
                    </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
