<!DOCTYPE html>
<html>

<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <navbar-admin></navbar-admin>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col s0 m4 l3 menu_lateral">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <app-options-adm></app-options-adm>
      </div>

      <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div class="collection backgroud z-depth-4">
          <table class="bordered striped responsive-table">
            <thead>
              <tr>
                <th data-field="marca">Marca</th>
                <th data-field="modelo">Modelo</th>
                <th data-field="tamanho">Tamanho</th>
                <th data-field="quantidade">Quantidade</th>
                <th data-field="max">Max</th>
                <th data-field="min">Min</th>
                <th data-field="estado">Estado</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngfor="let item of produtos">
                <td>{{item.marca}}</td>
                <td>{{item.modelo}}</td>
                <td>{{item.tamanho}}</td>
                <td>{{item.quantidade}}</td>
                <td>{{item.max}}</td>
                <td>{{item.min}}</td>
                <td>{{item.estado}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <!-- Rodapé -->
  <app-footer></app-footer>

</body>

</html>
