<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col s0 m4 l3 menu_lateral">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <app-options-adm></app-options-adm>
      </div>

      <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div class="collection backgroud z-depth-4">
          <table class="bordered striped responsive-table centered">
            <thead>
              <tr >
                <th data-field="marca">Marca</th>
                <th data-field="modelo">Modelo</th>
                <th data-field="tamanho">Tamanho</th>
                <th data-field="quantidade">Quantidade</th>
                <th data-field="ultimaCompra">Ultima Compra</th>
                <th data-field="precoVenda">Preço Venda</th>
                <th data-field="precoMedio">Preço Médio</th>
                <th data-field="max">Max</th>
                <th data-field="min">Min</th>
                <th data-field="estado">Estado</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let produto of produtos">
                <td>{{produto.marca}}</td>
                <td>{{produto.modelo}}</td>
                <td>{{produto.tamanho}}</td>
                <td>{{produto.quantidade}}</td>
                <td>{{produto.precoUltimaCompra}}</td>
                <td>{{produto.precoVenda}}</td>
                <td>{{produto.precoMedio}}</td>
                <td>{{produto.max}}</td>
                <td>{{produto.min}}</td>
                <td>{{produto.estado}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</body>
