<body class="backgroundImage">
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <!-- Slogan de entrada -->
    <div class="slogan">
      <h1>DS OUTLET</h1>
      <h3>Trazendo o melhor da moda <em>Surf Wear</em> para você</h3>
    </div>
    <!-- Carousel Propaganda -->
    <div materialize="carousel" class="carousel">
      <a class="carousel-item" ><img src="imagens/marcas/bugalu.jpg"></a>
      <a class="carousel-item" ><img src="imagens/marcas/cobra.jpg"></a>
      <a class="carousel-item" ><img src="imagens/marcas/impacto.jpg"></a>
      <a class="carousel-item" ><img src="imagens/marcas/teahupoo.jpg"></a>
    </div>

    <!-- Propaganda auxiliar (cards) -->
    <div class="row center">

      <div class="col s10 m4 l4 center">
        <!-- Promo 1 -->
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imagens/prop-masc-gd.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Moda Masculina<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Moda Masculina<i class="material-icons right">close</i></span>
            <p>
              Diversas marcas, estilos e estampas! <br> Tudo esperando por <em>voçe</em>!
            </p>
          </div>
        </div>

      </div>
      <div class="col s10 m4 l4 center">
        <!-- Promo 2 -->
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imagens/prop-fem-gd.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Moda Feminina<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Moda Feminina<i class="material-icons right">close</i></span>
            <p>
              Nada mais atraente do que uma mulher surfando <br> Venha garantir o melhor estilo para pegar a melhor onda! <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col s10 m4 l4 center">
        <!-- Promo 3 -->
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imagens/promo-gd.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Promoção SKOL<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Promoção SKOL<i class="material-icons right">close</i></span>
            <p>
              Em compras acima de R$ 100,00 <br> Voçe concorre a 1 cooler da SKOOOOOL por mês <br>
              <br> Imperdível, corra e garanta já o seu!
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <p>{{error}}</p>
  <p>{{variavel}}</p>
  <!-- Rodapé -->
  <app-footer></app-footer>
</body>
