<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col m4 l3 menu_lateral hide-on-small-and-down">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <options [isAdmin]="isAdmin"></options>
      </div>

      <div class="col s12 m8 l9" style=" padding-top: 8px">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->

        <!--Loading - aparece enquanto carrega a tabela-->
        <div *ngIf="loading" class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>


        <div *ngIf="!loading">
          <nav class=" white black-text row">
            <ul id="nav-mobile" class="left ">
              <li><a routerLink="/gerenciador/cadastrar-produto" class="white-text blue">CADASTRAR</a></li>
            </ul>
             <form class="col s7 m10 l10 " >
                  <div class="input-field">
                    <input [(ngModel)]="search" name="search" type="search" placeholder="Procurar mercadoria">
                    <label for="search"><i class="material-icons black-text" >search</i></label>
                    <i class="material-icons black-text right" (click)="limpar()">close</i>
                  </div>
                </form>
          </nav>

          <!--Tabela de estoque-->
          <table class="bordered alter responsive-table selectable">
            <thead>
              <tr>
                <th data-field="marca">Marca</th>
                <th data-field="modelo">Modelo</th>
                <th data-field="tamanho">Tamanho</th>
                <th data-field="quantidade">Quantidade</th>
                <th data-field="ultimaCompra" *ngIf="isAdmin">Ultima Compra</th>
                <th data-field="precoVenda">Preço Venda</th>
                <th data-field="precoCompra" *ngIf="isAdmin">Preço Compra</th>
                <th data-field="max">Max</th>
                <th data-field="min">Min</th>
                <th data-field="estado">Estado</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let produto of produtos | filtroDeMercadoria: search" (click)="teste(produto)">
                <td materialize="dropdown" data-activates="dropdown1">{{produto.marca}}</td>
                <td materialize="dropdown" data-activates="dropdown1">{{produto.modelo}}</td>
                <td materialize="dropdown" data-activates="dropdown1">{{produto.tamanho}}</td>
                <td materialize="dropdown" data-activates="dropdown1">{{produto.quantidade}}</td>
                <td materialize="dropdown" data-activates="dropdown1" *ngIf="isAdmin">{{produto.precoUltimaCompra}}</td>
                <td materialize="dropdown" data-activates="dropdown1">{{produto.precoSaidaPadrao}}</td>
                <td materialize="dropdown" data-activates="dropdown1" *ngIf="isAdmin">{{produto.precoEntrada}}</td>
                <td materialize="dropdown" data-activates="dropdown1">{{produto.maximo}}</td>
                <td materialize="dropdown" data-activates="dropdown1">{{produto.minimo}}</td>
                <td materialize="dropdown" data-activates="dropdown1">{{produto.estado}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</body>

<ul id="dropdown1" class="dropdown-content">
  <li><a (click)="editar()">Editar</a></li>
  <li><a (click)=" adicionar() ">Adicionar</a></li>
  <li class="divider"></li>
  <li><a>Cancelar</a></li>
</ul>
