<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col m4 l3 menu_lateral hide-on-small-and-down">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <options [isAdmin]="isAdmin"></options>
      </div>

      <div class="col s12 m8 l9" style="padding-top: 8px">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div>

          <!--Loading - aparece enquanto carrega a tabela-->
          <div *ngIf="loading" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>

          <div *ngIf="!loading">
            <nav class=" white black-text row">
              <ul id="nav-mobile" class="left ">
                <li><a routerLink="/gerenciador/clientes/cadastro" class="white-text blue">CADASTRAR</a></li>
              </ul>
              <form class="col s7 m10 l10 ">
                <div class="input-field">
                  <input [(ngModel)]="search" name="search" type="search" placeholder="Procurar cliente">
                  <label for="search"><i class="material-icons black-text" >search</i></label>
                  <i class="material-icons black-text right" (click)="limpar()">close</i>
                </div>
              </form>
            </nav>

            <!--Tabela de funcionarios, quando clicar em um itel vai abrir uma nova tela para editar as informaç~eos do mesmo e ao salvar retorna para esta tela-->
            <table *ngIf="!loading" class="bordered alter selectable responsive-table">
              <thead>
                <tr>
                  <th data-field="nome">Nome</th>
                  <th data-field="cpf">CPF</th>
                  <th data-field="telefone">Telefone</th>
                  <th data-field="divida">Dívida Total</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let cliente of clientes | filtroDeCliente:search" (click)="editar(cliente)">
                  <td>{{cliente.nome}}</td>
                  <td>{{cliente.cpf}}</td>
                  <td>{{cliente.telefone}}</td>
                  <td>{{cliente.dividaTotal}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
