<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">DS Outlet</h5>
        <p class="grey-text text-lighten-4">
          A melhor loja de <em>Surf Wear</em> da cidade <br> Rua 3ª Travessa Eduardo Froes da mota <br> Número 435 <br> CEP: 99999-000 <br> Telefone: (99) 3355-5533
        </p>
      </div>
      <div class="col l6 offset-l2 s12">
        <sebm-google-map [latitude]="51" [longitude]="7" class="google-maps">
          <sebm-google-map-marker [latitude]="51" [longitude]="7"></sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made By BroCode
    </div>
  </div>
</footer>
