<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">DS Outlet</h5>
        <p class="grey-text text-lighten-4">
          A melhor loja de <em>Surf Wear</em> da cidade. <br><br> Av. Ferreira Brito, Número 43 <br> CEP: 48400-000 <br><br> Telefones: <br> (75) 99184-0488 <br> (75) 98232-2032
        </p>
      </div>
      <div class="col l6 offset-l2 s12">
        <sebm-google-map  [latitude]="-10.839265" [longitude]="-38.534906" [zoom]="17" class="google-maps">
          <sebm-google-map-marker [latitude]="-10.839265" [longitude]="-38.534906"></sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made By CodeBro
    </div>
  </div>
</footer>
