<!DOCTYPE html>
<html>
  <body>
    <!-- Cabeçalho -->
    <header>
      <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
      <navbar-admin></navbar-admin>
    </header>

    <!-- Corpo da pagina -->
    <main>
      <div class="row">
        <div class="col s0 m4 l3 menu_lateral"> <!-- Note that "m4 l3" was added -->
          <!-- small container -->
          <div class="collection">
            <a href="#!" class="collection-item">Minha Conta</a>
            <a href="#!" class="collection-item">Estoque</a>
            <a href="#!" class="collection-item">Cadastrar Produto</a>
            <a href="#!" class="collection-item">Editar Produto</a>
            <a href="#!" class="collection-item">Adicionar Produto</a>
            <a href="#!" class="collection-item">Relatórios</a>
            <a href="#!" class="collection-item">Gerenciar Funcionários</a>
            <a href="#!" class="collection-item">Gerenciar Clientes</a>
            <a href="#!" class="collection-item">Iniciar Venda</a>
          </div>
        </div>

        <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
          <!-- Large container -->
          <div class="collection backgroud">
            <h2 class="center"> Bem vindo ao gerenciador </h2>
            <h5 class="center">
              <br> Utilize o menu lateral para escolher a opção desejada
            </h5>
          </div>
        </div>
      </div>
    </main>

    <!-- Rodapé -->
    <app-footer></app-footer>

  </body>
</html>
