<div class="collection">
  <a routerLink="/gerenciador/minha-conta" class="myItem" [class.active]="url == '/gerenciador/minha-conta'">Minha Conta</a>
  <a routerLink="/gerenciador/estoque" class="myItem" [class.active]="url == '/gerenciador/estoque'">Estoque</a>
  <a *ngIf="isAdmin" routerLink="/gerenciador/relatorios" class="myItem" [class.active]="url == '/gerenciador/relatorios'">Relatórios</a>
  <a *ngIf="isAdmin" routerLink="/gerenciador/funcionarios" class="myItem" [class.active]="url == '/gerenciador/funcionarios'">Gerenciar Funcionários</a>
  <a routerLink="/gerenciador/clientes" class="myItem" [class.active]="url == '/gerenciador/clientes'">Gerenciar Clientes</a>
  <a routerLink="/gerenciador/venda" class="myItem" [class.active]="url == '/gerenciador/venda'">Iniciar Venda</a>
</div>
