<div class="collection">
  <a class="collection-item">Minha Conta</a>
  <a routerLink="/gerenciador/estoque" class="collection-item" [class.active]="url == '/gerenciador/estoque'">Estoque</a>
  <a routerLink="/gerenciador/cadastrar-produto" class="collection-item" [class.active]="url == '/gerenciador/cadastrar-produto'">Cadastrar Produto</a>
  <a routerLink="/gerenciador/editar-produto" class="collection-item" [class.active]="url == '/gerenciador/editar-produto'">Editar Produto</a>
  <a routerLink="/gerenciador/adicionar-produto" class="collection-item" [class.active]="url == '/gerenciador/adicionar-produto'">Adicionar Produto</a>
  <a *ngIf="isAdmin" routerLink="/gerenciador/relatorios" class="collection-item" [class.active]="url == '/gerenciador/relatorios'">Relatórios</a>
  <a *ngIf="isAdmin" routerLink="/gerenciador/funcionarios" class="collection-item" [class.active]="url == '/gerenciador/funcionarios'">Gerenciar Usuários</a>
  <a routerLink="/gerenciador/clientes" class="collection-item" [class.active]="url == '/gerenciador/clientes'">Gerenciar Clientes</a>
  <a routerLink="/gerenciador/venda" class="collection-item" [class.active]="url == '/gerenciador/venda'">Iniciar Venda</a>
</div>
