
<div class="page">

  <div class="cabecalho row">
      <img src="logo.png" width="200">
        <div style="margin-left: 10px">
          <div class="endereco">Av. Ferreira Brito, 43 | (75) 99184-0488 </div>
        </div>
  </div>

  <div class="row titulo">
    <p class="linha"><b>CUPOM DE VENDA - NÃO FISCAL</b></p>
    <p class="left linha"><b>Código: </b>{{ impressao.idUsuario }}00{{ impressao.idVenda }}</p>
    <p class="right linha"><b>Data: </b>{{impressao.data | date:'dd/MM/yyyy' }}</p>
  </div>

<div class="lista">

  <table class="tabela">
    <thead class="tabela">
      <tr class="tabela">
        <th class="linha">Marca</th>
        <th class="linha">Modelo</th>
        <th class="linha">Tam.</th>
        <th class="linha">V. UNIT</th>
        <th class="linha">QNT</th>
        <th class="linha right">V. Item</th>
      </tr>
    </thead>

    <tbody class="tabela">
      <tr class="tabela" *ngFor="let produto of impressao.linhaDeItem">
        <td class="linha">{{ produto.marca }}</td>
        <td class="linha">{{ produto.modelo }}</td>
        <td class="linha">{{ produto.tamanho }}</td>
        <td class="linha">{{ produto.valorUnidade }}</td>
        <td class="linha">X{{ produto.quantidade }}</td>
        <td class="linha right">R$ {{ produto.valor }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!--
  <div class="lista">
    <ul class="item">
      <li *ngFor="let item of nomes">
      <a class="left">{{ item }}</a><a class="s4 m4 l4">R$ 1,00 x4</a><a class="right item">R$ 4,00</a>
      </li>
    </ul>
  </div>
-->

  <div class="row rodape">
    <div class="row" style="padding: 0px; margin:0px">

      <div>
        <b>Subtotal:</b>
        <div class="right">
          <b>R$ {{ impressao.subtotal }}</b>
        </div>
      </div>

      <div style="border-bottom: thin solid;">
        <b>Desconto:</b>
        <div class="right">
          - R$ {{ impressao.desconto }}
        </div>
      </div>

      <div>
        <b>Valor Total:</b>
        <div class="right">
          <b>R$ {{ impressao.total }}</b>
        </div>
      </div>

      <div>
        <b>Tipo de Pagamento:</b>
        <div class="right">
          cartão credito/débito
        </div>
      </div>

      <div>
        <b>Quantidade de Parcelas:</b>
        <div class="right">
          5 vezes
        </div>
      </div>

    </div>
  </div>

</div>
