<div class="collection">
  <a class="collection-item">Minha Conta</a>
  <a routerLink="/estoque" class="collection-item">Estoque</a>
  <a routerLink="/cadastro-produto" class="collection-item">Cadastrar Produto</a>
  <a class="collection-item">Editar Produto</a>
  <a class="collection-item">Adicionar Produto</a>
  <a class="collection-item">Relatórios</a>
  <a class="collection-item">Gerenciar Funcionários</a>
  <a class="collection-item">Gerenciar Clientes</a>
  <a class="collection-item">Iniciar Venda</a>
</div>
