.compra{
  overflow: auto;
  background-color: #ffff60;
  position: relative;
  height:  300px;
}

.produtos{
  overflow: auto;
  position: relative;
  height: 245px;
}

.marcaModelo{
  overflow: auto;
  position: relative;
  height: 105px;
}