.compra{
  overflow: auto;
  background-color: #f2f2f2;
  position: relative;
  height:  300px;
}

.produtos{
  overflow: auto;
  position: relative;
  height: 245px;
}

.marcaModelo{
  overflow: auto;
  position: relative;
  height: 105px;
}
.listaClientes{
  overflow: auto;
  position: relative;
  height: 150px;
}
