<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col m4 l3 menu_lateral hide-on-small-and-down">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <options [isAdmin]="isAdmin"></options>
      </div>

      <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div>
          <!-- Formulário -->
          <div class="row">
            <form class="col s12 black-text">
              <div class="row">
                <div class="input-field col s12 m6 l8 black-text">
                  <i class="material-icons prefix">perm_identity</i>
                  <input placeholder="" id="name" type="text" class="validate black-text" [(ngModel)]="cliente.nome" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="first_name">Nome Completo</label>
                </div>
                <div class="input-field col s12 m6 l4 black-text">
                  <input placeholder="" id="cpf" type="number" class="validate black-text" [(ngModel)]="cliente.cpf" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="cpf">CPF</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 m6 l4 black-text">
                  <label class="black-text" for="date">Nascimento</label><br>
                  <input placeholder="" id="date" type="date" class="validate black-text" [(ngModel)]="cliente.nascimento" [ngModelOptions]="{standalone: true}">
                </div>
                <br>
                <div class="input-field col s12 m6 l8 black-text">
                  <input placeholder="" id="email" type="text" class="validate black-text" [(ngModel)]="cliente.email" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="email">Email</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 m6 l4 black-text">
                  <input placeholder="" id="telefone" type="number" class="validate black-text" [(ngModel)]="cliente.telefone" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="telefone">Telefone</label>
                </div>
                <div class="input-field col s12 m12 l4">
                  <input placeholder="" id="cidade" type="text" class="validate" [(ngModel)]="cliente.endereco.cidade" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="cidade">Cidade</label>
                </div>
                <div class="input-field col s12 m12 l2">
                  <input placeholder="" id="uf" type="text" class="validate" [(ngModel)]="cliente.endereco.uf" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="uf">UF</label>
                </div>
                <div class="input-field col s12 m6 l2 black-text">
                  <input placeholder="" id="cep" type="text" class="validate black-text" [(ngModel)]="cliente.endereco.cep" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="cep">CEP</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m12 l10">
                  <input placeholder="" id="logradouro" type="text" class="validate" [(ngModel)]="cliente.endereco.logradouro" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="logradouro">Endereço</label>
                </div>
                <div class="input-field col s12 m12 l2">
                  <input placeholder="" id="numero" type="text" class="validate" [(ngModel)]="cliente.endereco.numero" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="numero">Número</label>
                </div>
              </div>
              <div class="row">
                <div class="right">
                  <a (click)="deletar()" class="btn waves-effect waves-light red darken-4">Excluir
                    <i class="material-icons right">delete</i>
                  </a>
                  <a (click)="editar()" class="btn waves-effect waves-light blue darken-4">Salvar edição
                    <i class="material-icons right">mode_edit</i>
                  </a>
                  <a (click)="pagamento()" class="btn waves-effect waves-light green darken-4">Efetuar pagamento
                    <i class="material-icons right">credit_card</i>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--Tabela de Dividas-->
        <table *ngIf="!loading" class="bordered striped responsive-table">
          <thead>
            <tr>
              <th data-field="dia">Data da Compra</th>
              <th data-field="valor">Valor Total</th>
              <th data-field="pacelas">Parcelas</th>
              <th data-field="pacelasValor">Valor das Parcelas</th>
              <th data-field="vencimento">Vencimento</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let divida of dividas">
              <td>{{divida.dataCompra}}</td>
              <td>{{divida.valor}}</td>
              <td>{{divida.parcelasAPagar}}</td>
              <td>{{divida.valorPorParcela}}</td>
              <td>{{divida.vencimento}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>