<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="css/default_style.css" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />




  <title>DS Outlet</title>
</head>

<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa-->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper light-blue z-depth-4">
          <a href="#!" materialize="sideNav" class="brand-logo">Imagem com LOGO</a>
          <!-- Imagem da lOGO deve ser inserida aqui-->
          <a href="#" materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <!-- Buttons para exibição -->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a>Home</a></li>
            <li><a>Fale Conosco</a></li>
            <li>
              <a class="waves-effect waves-light btn blue darken-4 btn tooltipped" data-position="left" data-delay="50" data-tooltip="Apenas para funcionários">Login</a></li>
          </ul>
          <!-- Menu lateral para exibição mobile -->
          <ul class="side-nav" id="mobile-demo">
            <li><a>Home</a></li>
            <li><a>Fale Conosco</a></li>
            <li><a class="waves-effect waves-light btn">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>


  <!-- Corpo da pagina -->
  <main>
    <div class="container formulario z-depth-5">
      <!-- Formulário -->
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">perm_identity</i>
              <input placeholder="Primeiro nome" id="first_name" type="text" class="validate white-text">
              <label class="white-text" for="first_name">Primeiro nome</label>
            </div>
            <div class="input-field col s12 m6 l6 white-text">
              <input id="last_name" type="text" class="validate  white-text">
              <label class="white-text" for="last_name">Ultimo nome</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">phone</i>
              <input id="tel" type="tel" class="validate">
              <label class="white-text" for="tel">Telefone</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate">
              <label class="white-text" for="email" data-error="wrong" data-success="right">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">label</i>
              <input id="subject" type="text" class="validate">
              <label class="white-text" for="subject">Assunto</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="mensage" class="materialize-textarea validate"></textarea>
              <label class="white-text" for="mensage" length="300">Mensagem</label>
            </div>
          </div>
          <div class="row">
            <div class="col s3 offset-s7 m3 offset-m7 l3 offset-l9">
              <a onclick="Materialize.toast('Sua mensagem foi enviada!', 4000, 'rouded')" class="btn waves-effect waves-light blue darken-4">Enviar
            <i class="material-icons right">send</i>
          </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- Rodapé -->
  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">DS Outlet</h5>
          <p class="grey-text text-lighten-4">
            A melhor loja de <em>Surf Wear</em> da cidade <br> Rua 3ª Travessa Eduardo Froes da mota <br> Número 435 <br> CEP: 99999-000 <br> Telefone: (99) 3355-5533
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Como chegar</h5>
          <!-- Google Maps API -->
          <div class="google-maps" id="map"></div>
          <script>
            function myMap() {
              var mapCanvas = document.getElementById("map");
              var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.2),
                zoom: 10
              }
              var map = new google.maps.Map(mapCanvas, mapOptions);
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made By BroCode
      </div>
    </div>
  </footer>

</body>

</html>
