<!DOCTYPE html>
<html>

<body>
  
  <!-- Corpo da pagina -->
  <main>
    <div class="container formulario z-depth-5">
      <!-- Formulário -->
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">perm_identity</i>
              <input placeholder="Primeiro nome" id="first_name" type="text" class="validate white-text">
              <label class="white-text" for="first_name">Primeiro nome</label>
            </div>
            <div class="input-field col s12 m6 l6 white-text">
              <input id="last_name" type="text" class="validate  white-text">
              <label class="white-text" for="last_name">Ultimo nome</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">phone</i>
              <input id="tel" type="tel" class="validate">
              <label class="white-text" for="tel">Telefone</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate">
              <label class="white-text" for="email" data-error="wrong" data-success="right">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">label</i>
              <input id="subject" type="text" class="validate">
              <label class="white-text" for="subject">Assunto</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="mensage" class="materialize-textarea validate"></textarea>
              <label class="white-text" for="mensage" length="300">Mensagem</label>
            </div>
          </div>
          <div class="row">
            <div class="col s3 offset-s7 m3 offset-m7 l3 offset-l9">
              <a onclick="Materialize.toast('Sua mensagem foi enviada!', 4000, 'rouded')" class="btn waves-effect waves-light blue darken-4">Enviar
            <i class="material-icons right">send</i>
          </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- Rodapé -->
  <app-footer></app-footer>

</body>

</html>
