<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper light-blue z-depth-4">
      <a class="brand-logo">Imagem com LOGO</a>
      <!-- Imagem da lOGO deve ser inserida aqui-->
      <a materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <!-- Buttons para exibição -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/fale-conosco">Fale Conosco</a></li>
        <li>
          <a materialize="tooltip" class="waves-effect waves-light btn blue darken-4 btn tooltipped" data-position="left" data-delay="50" data-tooltip="Apenas para funcionários" (click)="fazerLogin()">Login</a></li>
      </ul>
      <!-- Menu lateral para exibição mobile -->
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/fale-conosco">Fale Conosco</a></li>
        <li><a class="waves-effect waves-light btn">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
