<nav class="nav-wrapper light-blue z-depth-4">
  <a class="brand-logo">Imagem com LOGO</a>
  <!-- Imagem da lOGO deve ser inserida aqui-->
  <a materialize="sideNav" [materializeParams]="[{draggable: true}]" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <!-- Buttons para exibição -->
  <ul id="nav-wrapper" class="right hide-on-med-and-down">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li *ngIf="isLogado">
      <a routerLink="/controle-estoque">Gerenciador</a>
    </li>
    <li *ngIf="(isLogado && isAdmin)">
      <a routerLink="/cadastrar-funcionario">Cadastrar Funcionário</a>
    </li>
    <li *ngIf="!isLogado">
      <a routerLink="/fale-conosco">Fale Conosco</a>
    </li>
    <li *ngIf="!isLogado">
      <a materialize="modal" class="waves-effect waves-light btn blue darken-4" href="#loginModal">Login</a>
    </li>
    <li *ngIf="isLogado">
      <a materialize="tooltip" class="waves-effect waves-light btn blue darken-4 btn tooltipped" data-position="left" data-delay="50" data-tooltip="Deseja sair?" (click)="deslogar()">Deslogar</a>
    </li>
  </ul>
  <!-- Menu lateral para exibição mobile -->
  <ul class="side-nav active" id="mobile-demo">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li *ngIf="isLogado">
      <a routerLink="/controle-estoque">Gerenciador</a>
    </li>
    <li *ngIf="!isLogado">
      <a routerLink="/fale-conosco">Fale Conosco</a>
    </li>
    <li *ngIf="(isLogado && isAdmin)">
      <a routerLink="/cadastrar-funcionario">Cadastrar Funcionário</a>
    </li>
    <li *ngIf="isLogado">
      <a class="waves-effect waves-light btn blue darken-4" (click)="deslogar()">Deslogar</a>
    </li>
    <li *ngIf="!isLogado">
      <a materialize="modal" class="waves-effect waves-light btn blue darken-4" href="#loginModal">Login</a>
    </li>
  </ul>
</nav>

<!--Login Modal-->
<div  materialize="modal" id="loginModal" class="modal modal-fixed-footer loginPane light-blue" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 class="center white-text">LogIn</h4>
    <form class="">
      <div class="input-field white-text campo">
        <i class="material-icons prefix">perm_identity</i>
        <input id="usuario" type="text" class="validate white-text">
        <label class="white-text" for="usuario">Nome de Usuário</label>
      </div>
      <div class="input-field  campo">
        <input id="senha" type="password" class="validate white-text">
        <label class="white-text" for="senha">Senha</label>
      </div>
      <p class="white-text">
      <input type="checkbox" class="white-text" id="remenber" />
      <label class="white-text" for="remenber">Lembrar de mim</label>
    </p>
    </form>
  </div>
  <div class="modal-footer light-blue loginPaneFooter">
    <a class="left white-text">Esqueci minha senha</a>
    <a class="waves-effect waves-light btn blue darken-4" (click)="fazerLogin()">Login</a>
  </div>
</div>
