.loginPane{
  width: 400px;
  height: 60%;
  padding: 20px;
  padding-bottom: 0px;
  overflow-x: hidden;
}
.loginPaneFooter{
  width: 90%;
}
.campo{
  padding-right: 30px;
  width: 100%;
  height: 100%;
}
