<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col m4 l3 menu_lateral hide-on-small-and-down">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <options [isAdmin]="isAdmin"></options>
      </div>

      <div class="col s12 m8 l9" style="padding-top: 8px">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div>

          <!--Loading - aparece enquanto carrega a tabela-->
          <div *ngIf="loading" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>

          <!-- Formulário -->
          <div *ngIf="!loading" class="row">

            <form (ngSubmit)="editar()" class="col s12 black-text">

              <div class="row">

                <div class="input-field col s12 m6 l6 black-text">
                  <i class="material-icons prefix">perm_identity</i>
                  <input placeholder="" id="first_name" type="text" required class="validate black-text" [(ngModel)]="usuario.nome" name="nome">
                  <label class="black-text" for="first_name">Nome</label>
                </div>

                <div class="input-field col s12 m6 l6 black-text">
                  <input placeholder="" id="email" type="email" required class="validate  black-text" [(ngModel)]="usuario.email" name="email">
                  <label class="black-text" for="email">Email</label>
                </div>

              </div>

              <div class="row">

                <div class="input-field col s12 m4 l4">
                  <input placeholder="" id="username" type="text" minlength="4" required class="validate" [(ngModel)]="usuario.login" name="login">
                  <label class="black-text" for="username">Nome de usuário</label>
                </div>

                <div class="input-field col s12 m4 l4">
                  <input placeholder="" id="senha" type="text" minlength="4" required class="validate" [(ngModel)]="usuario.senha" name="senha">
                  <label class="black-text" for="senha">Senha</label>
                </div>

                <div class="input-field col s12 m4 l4">
                  <input placeholder="" id="confirmaSenha" type="text" minlength="4" required class="validate" [(ngModel)]="confirmaSenha" [ngModelOptions]="{standalone: true}">
                  <label class="black-text" for="confirmaSenha">Repita Senha</label>
                </div>

              </div>

              <div class="row">

                <div class="input-field col s12 m6 l3">
                  <label class="black-text" for="dataAdmissao">Data de Admissão</label><br>
                  <input id="dataAdmissao" type="date" required class="validate" [(ngModel)]="usuario.dataAdmissao" [ngModelOptions]="{standalone: true}" >
                </div><br>

                <div class="input-field col s12 m6 l3">
                  <telefone [valor]="usuario.telefone" (tel)="change($event)"></telefone>
                </div>

                <div *ngIf="usuario.acesso == A" class="input-field col s4 m4 l3 black-text">
                  <select materialize="material_select" [(ngModel)]="usuario.acesso" [ngModelOptions]="{standalone: true}">
                    <option value="A">Administrador</option>
                    <option value="C">Vendedor</option>
                    <option value="" disabled selected>Privilégio</option>
                  </select>
                  <label class="black-text" for="acesso">Privilégio</label>
                </div>

                <div *ngIf="usuario.acesso != A" class="input-field col s4 m4 l3 black-text">
                  <select materialize="material_select" [(ngModel)]="usuario.acesso" [ngModelOptions]="{standalone: true}">
                    <option value="C">Vendedor</option>
                    <option value="A">Administrador</option>
                    <option value="" disabled selected>Privilégio</option>
                  </select>
                  <label class="black-text" for="acesso">Privilégio</label>
                </div>

                <div *ngIf="usuario.ativo == 0" class="input-field col s4 m4 l3 black-text">
                  <select materialize="material_select" [(ngModel)]="usuario.ativo" [ngModelOptions]="{standalone: true}">
                    <option value="0">Ativo</option>
                    <option value="1">Desativado</option>
                    <option value="" disabled selected>Ativação</option>
                  </select>
                  <label class="black-text" for="acesso">Ativação</label>
                </div>

                <div *ngIf="usuario.ativo != 0" class="input-field col s4 m4 l3 black-text">
                  <select materialize="material_select" [(ngModel)]="usuario.ativo" [ngModelOptions]="{standalone: true}">
                    <option value="1">Desativado</option>
                    <option value="0">Ativo</option>
                    <option value="" disabled selected>Ativação</option>
                  </select>
                  <label class="black-text" for="acesso">Ativação</label>
                </div>

              </div>

              <div class="row">

                <div class="right">
                  <button type="submit" name="submit" class="btn waves-effect waves-light blue darken-4"> Salvar
                    <i class="material-icons right">send</i>
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
