<body>
  <!-- Cabeçalho -->
  <header>
    <!-- NavBar esta dentro de um continer para que a mesma passe a ser fixa -->
    <app-navbar [isAdmin]="isAdmin" [isLogado]="isLogado"></app-navbar>
  </header>

  <!-- Corpo da pagina -->
  <main>
    <div class="row">
      <div class="col m4 l3 menu_lateral hide-on-small-and-down">
        <!-- Note that "m4 l3" was added -->
        <!-- small container -->
        <options [isAdmin]="isAdmin"></options>
      </div>

      <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Large container -->
        <div class="collection backgroud z-depth-4">

          <!--Loading - aparece enquanto carrega a tabela-->
          <div *ngIf="loading" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>

          <!-- Formulário -->
          <div *ngIf="!loading" class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12 m6 l6 white-text">
                  <i class="material-icons prefix">perm_identity</i>
                  <input placeholder="" id="first_name" type="text" class="validate white-text" [(ngModel)]="usuario.nome" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="first_name">Primeiro nome</label>
                </div>
                <div class="input-field col s12 m6 l6 white-text">
                  <input placeholder="" id="email" type="text" class="validate  white-text" [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m4 l4">
                  <input placeholder="" id="max" type="text" class="validate" [(ngModel)]="usuario.login" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="max">Nome de usuário</label>
                </div>
                <div class="input-field col s12 m4 l4">
                  <input placeholder="" id="senha" type="password" class="validate" [(ngModel)]="usuario.senha" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="senha">Senha</label>
                </div>
                <div class="input-field col s12 m4 l4">
                  <input placeholder="" id="rep-senha" type="password" class="validate" [(ngModel)]="usuario.senha" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="rep-senha">Repetir senha</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l4">
                  <input id="dataAdmissao" type="date" class="validate" [(ngModel)]="usuario.dataAdmissao" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="dataAdmissao">Data de Admissão</label>
                </div>
                <div class="input-field col s12 m6 l6">
                  <input id="tel" type="number" class="validate" [(ngModel)]="usuario.telefone" [ngModelOptions]="{standalone: true}">
                  <label class="white-text" for="tel">Telefone</label>
                </div>
              </div>
              <div class="row">
                <div *ngIf="usuario.acesso=='A'" class="input-field col s4 m4 l4 white-text">
                  <select materialize="material_select" [(ngModel)]="usuario.acesso" [ngModelOptions]="{standalone: true}">
                    <option value="A">Administrador</option>
                    <option value="C">Vendedor</option>
                  </select>
                </div>

                <div *ngIf="usuario.acesso=='C'" class="input-field col s4 m4 l4 white-text">
                  <select materialize="material_select" [(ngModel)]="usuario.acesso" [ngModelOptions]="{standalone: true}">
                    <option value="C">Vendedor</option>
                    <option value="A">Administrador</option>
                  </select>
                  <label class="white-text">Privilégio</label>
                </div>

                <div class="col s6 offset-s4 m6 offset-m4 l6 offset-l6">
                  <a (click)="editar()" class="btn waves-effect waves-light blue darken-4">Salvar
                      <i class="material-icons right">send</i>
                    </a>
                  <a (click)="excluir()" class="btn waves-effect waves-light red darken-4">Excluir
                        <i class="material-icons right">send</i>
                      </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
